/* common code start here  */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root{
    --primary-color: #DBB784;
    --secondary-color:#fff;
    --brand-color:#B72026;
    --dark-color:#040404;
}
/* common code end here  */
/* header code start here  */
/*navcode start here  */
#heading-section{
}
.top-header{
    display: flex;
    height: 60px;
    background-color: var(--dark-color);
   justify-content: space-between ;
}
.logo{
    margin-top: 15px;
    margin-left: 40px;
}
.logo a{
    font-size:24px ;
    font-weight:700 ;
    font-family: Playfair Display;
    color: var(--secondary-color);
    text-decoration: none;
}
.nav-items ul li{
    font-size:16px ;
    font-weight:700 ;
    font-family: Instrument Sans;
    color: var( --primary-color);
    list-style: none;
    display: inline;
    padding:10px 4px;
    text-transform: uppercase;
}
.nav-items ul li a{
    text-decoration: none;
    color: var( --primary-color);
    font-family: playfair display;
}
.nav-btn{
    background: var(--brand-color);
    margin-top: 15px;
    margin-right: 40px;
    box-shadow: 2px 2px var(--primary-color);
}
.nav-btn a{
    text-decoration: none;
    font-size:16px ;
    font-weight:400 ;
    font-family: Instrument Sans;
    color: var(--secondary-color);
}
/* nav code end here  */
 /* bottom header code start here  */
 #bottom-header{
     background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/hero-bg.webp);
 }
.heading_design{
display: flex;
justify-content: center;
 }
 .heading_bottom{
    display: flex;
justify-content:end;
 }
.bottom-header-content h1,p{
    height: 280px;
    width: 1100px;
    margin: 0px auto;
    padding: 10px 0px;
}
.bottom-header-content h1{
    font-size:100px ;
    font-weight:600 ;
    font-family:  playfair display;
    text-align: center;
    color: var(--primary-color);
    padding-top: 0px;
}
.bottom-header-content p{
    font-size:20px ;
    font-weight:400 ;
    font-family: Instrument Sans;
    text-align: center;
    margin-top: 0px;
    height: 30px;
    color: var(--secondary-color);
}
.bottom-header-btn{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top:30px;
}
.bottom-header-btn1{
    background: var(--brand-color);
    color: var(--secondary-color);
    padding: 15px;
    width: 200px;
    box-shadow:1px 1px var(--primary-color) inset;
}
.bottom-header-btn2{
    background: var(--dark-color);
    color: var(--secondary-color);
    padding: 15px;
    width: 200px;
    box-shadow: 1px 1px var(--primary-color);
}
.bottom-header-btn a{
    text-decoration: none;
    font-size:16px ;
    font-weight:400 ;
    font-family: Instrument Sans;
    color: var(--secondary-color);
}
 /* bottom header code end here  */
/* header code end here  */
/* about-section start here  */
#about-section{
    height: 538px;
    background: #eeebe6;
}
.about_img_r{
    position: absolute;
    top: 75px; 
    left: 45px;
}
.about_img{
    position: absolute;
    right: 45px;
    bottom:75px;
}
.row{
    width: 1280px;
    height: 298px;
    display: flex;
    gap:15px;
    justify-content: center;
    padding: 120px 0px;
    margin: auto;
    position: relative;
}
.cardbody{
    width: 300px;
    height: 230px;
    text-align: center;
    background-color: #FBF8F3;
    padding: 32px 28px;
}
.cardbody .image{
    background: var(--primary-color);
    height: 56px;
    width: 56px;
}
.cardbody h1{
    font-size: 32px;
    font-weight: 700;
    font-family:playfair display;
    height: 42px;
    width: 272px;
}
.cardbody p{
    font-size: 16px;
    font-weight: 400;
    font-family:playfair display;
    height: 26px;
    width: 272px;
}
.cardbody a{
    text-decoration: none;
    font-size:16px ;
    font-weight:400 ;
    font-family: Instrument Sans;
    color: var(--dark-color);
}
.cardbody a:hover{
    color: var(--brand-color);
}
/* about-section end here  */
/* menu-section start here  */
#menu-section{
    height:580px;
    background: #FBF8F3;
    padding: 120px 128px;
}
.menu_content{
    text-align: start;
    display: flex;
    justify-content: space-between;
    height: 127px;
}
.menu_content h1{
    font-size: 68px;
    font-weight:600;
    font-family:playfair display;
    width: 749px;
    height: 82px;
    margin: 0px 0px;
}
.menu_content button{
    background: var(--dark-color);
    width: 179px;
    height: 52px;
    margin: 40px 0px;
}
.menu_content button a{
    text-decoration: none;
    font-size:16px ;
    font-weight:400 ;
    font-family:playfair display;
    color: var(--secondary-color);
}
.menu_content p{
    font-size: 18px;
    font-weight:500;
    font-family:playfair display;
    width: 749px;
    height: 29px;
    margin-left: 0px;
}
.menu_img{
    display: flex;
    width: 1148px;
    height: 468px;
}
.menu_img figure{
    width: 382px;
    height: 468px;
    margin: auto;
}
.menu_img figure figcaption{   
    text-align: center;
    font-size: 32px;
    font-weight:600;
    font-family:playfair display;
    width: 300px;
    height: 42px;
}
.menu_img figure img{
    border: 1px solid var(--primary-color);
    width:300px;
    height:402px;
}
/* menu-section end here  */
/* dish details section start here  */
#dish-details{
    height:500px;
    background: var(--dark-color);
    padding: 100px 110px;
}
.dishes{
    height:450px;
    display: flex;
    justify-content: space-between;
}
.about_dish{
    width: 642px;
    height: 308px;
}
.about_dish h1{
    font-size: 68px;
    font-weight:600;
    font-family:playfair display;
    color: var(--secondary-color);
    width: 642px;
    height: 170px;
    margin: 0px;
    padding: 10px 0px;
}
.about_dish p{
    font-size: 18px;
    font-weight:500;
    font-family: Instrument Sans;
    color: var(--secondary-color);
    width: 642px;
    height: 128px;
    line-height: 1.5;
}
.dish-btn{
    height: 30px;
    width: 642px;
    padding-top: 40px;
}
.dish-btn button{
    background: var(--brand-color);
    box-shadow: 1px 1px var(--primary-color);
}
.dish-btn a{
    text-decoration: none;
    font-size:16px ;
    font-weight:400 ;
    font-family:playfair display;
    color: var(--secondary-color);
}
#dish_img img{
    height: 450px;
    width: 400px;
    background: var(--secondary-color);
    box-shadow: 1px 1px 2px var(--primary-color);
}
/* dish details section end here  */
/* Photo gallary section start here  */
#Gallery-photo{
    height: 878px;
    background: var(--secondary-color);
}
#photo_gallary_content{
    height: 420px;
    display: flex;
    justify-content: space-between;
}
#side_photo1 img{
    width: 64px;
    height: 410px;
}
#side_photo2 img{
    width: 64px;
    height: 410px;
}
.photo-section_content {
    text-align: center;
    padding-top: 80px;
    height: 156px;
}
.photo-section_content h1{
    font-size: 68px;
    font-weight:600;
    font-family:playfair display;
    color: var(--dark-color);
    margin: 0px;
    height: 84px;
}
.photo-section_content p{
    font-size: 18px;
    font-weight:500;
    font-family:Instrument Sans;
    color: var(--dark-color);
    height: 58px;
    width: 618px;
}
.photo-section_content button{
    background: var(--brand-color);
    border: none;
    box-shadow: 3px 3px var(--primary-color);
    height: 60px;
    width: 272px;
}
.photo-section_content button  img{
    width: 24px;
    height: 24px;

}
.photo-section_content button a{
    text-decoration: none;
    font-size:16px ;
    font-weight:400 ;
    font-family:playfair display;
    color: var(--secondary-color);
}
/*Photo gallary section end here  */
/* footer code start here  */
/*footer-section code start here  */
#footer-section{
    height: 460px;
    background-color: var(--dark-color);
}
.maharaza-footer{
    height: 400px;
    display: flex;
    justify-content: center;
    position: relative;
}
#footer-content{
    display: flex;
 padding: 100px 60px 100px 0px;
  justify-content: space-between;
  justify-content: center;
}
.maharaza-footer-content{
    width: 340px;
    height: 178px;
}
.maharaza-footer-content h1{
    font-size: 24px;
    font-weight:600;
    font-family: playfair display;
    height:24px ;
    width:135px ;
    color:var(--secondary-color);
}
.maharaza-footer-content p{
    font-size: 16px;
    font-weight:400;
    font-family:Instrument Sans;
    height:130px ;
    width:340px ;
    color: var(--secondary-color);
}
.page-content ul li{
    list-style: none;
    font-size: 16px;
    font-weight:400;
    font-family: Instrument Sans;
    color: var(--secondary-color);
    line-height: 30px;
}
.page-content ul li:first-child{
    font-size: 20px;
    font-weight:500;
    font-family: playfair display;
    text-transform: uppercase;
}
.xyz{
    rotate:450deg;
    position: absolute;
    right: 0;
}
.xyz img{
    width: 180px;
    height: 180px;
}	
.copy-right-sec{
    text-align: center;
    background: #171717;
    height: 60px;
}
.copy-right-sec span{
    padding: 10px;
    height: 24px;
    width: 24px;
}
.copy-right-sec p{
    font-size: 16px;
    font-weight:400;
    font-family:Instrument Sans;
    color: var(--secondary-color);
}
/* footer code start here  */
